
h2{
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
}

.ta{
    width: 940px;
}

.form-control{
    width : 940px;
}

.sb{
    margin-left: auto;
    display: flex;

    justify-content: center;
}

.containers {
    width: 1080px;
    
    margin: 20px ;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden;  */
    /* overflow-y: auto;  */
}
