<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHealth-Hero</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <style>
.nav-link {
    box-shadow: inset 120 0 0 0  #378CE7;
    /* color: #54b3d6; */
    color: #378CE7;
    /* margin: 0 -0.15rem; */
    /* font-size: larger; */
    padding: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    font-weight: 800;

    
}

.nav-link:hover {
    box-shadow: inset 270px 0 0 0 #378CE7;
    color: white;
    border-radius: 10px;
}






.navbar-nav{
    display: flex;
    justify-content: center;
    gap: 1em;
    /* border: 4px solid red; */
    width: 100%;
}




    </style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/font_used.css') }}">
</head>
<body>
    




   
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate">
    </script>
      <script>
          function loadGoogleTranslate(){
              new google.translate.TranslateElement("google_element");
          }

          
      </script>
  

  


    <section id="navbar" class="" >
        <div class="position-sticky top-0" style="position: sticky;"> <nav class="navbar navbar-expand-lg bg-dark shadow p-3  bg-body-tertiary" >
            <div class="container-fluid">
              <a class="navbar-brand animate__animated animate__flipInX animate__infinite animate__delay-1s" href="/">
                <span class="d-block text-uppercase   fs-3 nunito-font" style="text-stroke: 7px #378CE7; color: #378CE7; font-weight: 900;">MyHealth Hero</span>
              </a>
      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font" aria-current="page" href="/" style="font-weight: 800;">HOME</a>
                  </li>

                

                  
                  {# Check if the username starts with 'Dr' #}
                  {% if user_data and user_data.username.startswith('dr') %}
                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font " href="/analysis_doctor" style="font-weight: 800;">VIEW ANALYSIS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font " href="/search" style="font-weight: 800;">TRACK GOALS</a>
                  </li>
                      <li class="nav-item">
                          <a class="nav-link fs-6 nunito-font" href="/set_goals" style="font-weight: 800;">SET GOALS</a>
                      </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font" href="/mental" style="font-weight: 800; ">MENTAL HEALTH TEST</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font " href="/analysis" style="font-weight: 800;">VIEW ANALYSIS</a>
                  </li>
                
                  
                      <li class="nav-item">
                          <a class="nav-link fs-6 nunito-font" href="/clinitians" style="font-weight: 800;">CLINITIANS</a>
                      </li>
                  {% endif %}
                  



                  <li class="nav-item">
                    <a class="nav-link fs-6 nunito-font" href="/community" style="font-weight: 800;">COMMUNITY</a>
                  </li>
                  
                  <li id="google_element" style="">

                  </li>
              

                </ul>

      
                {% if current_user.is_authenticated %}
            <a href="{{url_for('profile')}}"><img src="{{ url_for('static', filename='images/male_profile.gif') }}" alt="" srcset="" class="w-125 mx-3 rounded-circle"></a>
            <a href="{{ url_for('logout') }}" class="btn btn-outline-dark mx-2 fs-5 nunito-font "style="font-weight: 600;">LOGOUT</a>
            {% else %}
            <form class="d-flex" action="{{ url_for('login') }}" role="signup">
                <button class="btn btn-outline-danger mx-2 fs-5 nunito-font" type="submit" style="font-weight: 600;">LOGIN</button>
            </form>
            <form class="d-flex" action="{{ url_for('signup') }}" role="signup">
                <button class="btn btn-outline-success mx-2 fs-5 balsamiq-sans-bold" type="submit" style="font-weight: 600;">SIGNUP</button>
            </form>
            {% endif %}


              </div>
            </div>
          </nav>
        </div>
      </section>




    
<script>
    // $(document).ready(function() {
    //     $('.nav-link').addClass('nunito-font');
    // });


      </script>


  </body>
</html>